#root {
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
  height: 30px;
  width: 60px;
}

.btn-redo {
  margin: 5px;
}
.btn-clear {
  margin: 40px 5px;
}